<style>
  a {
  }
  a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Name</th>
        <th scope="col">Task Description</th>
        <th scope="col">Task status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(function(el, index) { %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= el.task_name %></td>
        <td><%= el.task_description %></td>
        <td>
          <% if(el.task_status == 'incomplete') { %>
          <p class="text-danger"><%= el.task_status %></p>
          <% } else { %>
          <p class="text-success"><%= el.task_status %></p>
          <% } %>
        </td>
        <td>
          <a href="change_status/<%= el._id %>">
            <button type="button" class="btn btn-outline-primary">
              Change Status
            </button>
          </a>
          <a href="edit_task/<%= el._id %>">
            <button type="button" class="btn btn-outline-success">
              Edit
            </button></a
          >
          <a href="delete_task/<%= el._id %>" onclick="return confirm('Are you sure you want to delete this from the database?')">
            <button type="button" class="btn btn-outline-danger">
              Delete
            </button></a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
